*
{
    padding:0;
    margin:0;
    font-family:sans-serif;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    background-color: #537895;
background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
    
}

.main_div
{
  width:100vw;
  height:100vh;
  display: grid;
  place-items: center;
}

.music_container
{
    width:350px;
    height:550px;
    background-color: #f8f9d2;
background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);
    box-shadow: 0 12px 30px 5px rgba(0, 0, 0, 0.2);
    border-radius:10px;
    text-align: center;
    padding:30px;

}

.music_container #title
{
    font-size:25px;
    letter-spacing:2px;
    font-weight:bolder;
    margin:20px;
    text-shadow: 0 3px 5px  rgba(0,0,0, 0.25);
}

.music_container #title
{
    
    font-size:30px;
    letter-spacing:2px;
    font-weight:600;
    margin:20px;
    
}

.music_container #artist
{

    font-size:20px;
    letter-spacing:2px;
    font-weight:200;
    margin-bottom: 40px;  
}

.img_container
{
   width:250px;
   height:250px;
   margin:auto;
   

}

img
{
    width:100%;
    height:100%;
    border-radius: 50%;
    box-shadow: 0 12px 30px 5px rgba(0, 0, 0, 0.5);

}

.music_controls
{
    width:200px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    margin-top:10px;
}
.music_controls .fas
{
    
    font-size:26px;
    cursor:pointer;
    filter:drop-shadow(0 12px 30px 5px rgba(0,0,0,0.4));
}

.music_controls .main-button
{
    width:40px;
    height:40px;
    border-radius: 50%;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-size:13px;
    
}


.music_controls .fa-play:hover
{
    background-color: white;
    color:black;
    box-shadow: 0 10px 20px 2px rgba(0,0,0,0.4);
}

/* animation */

.anime
{
    animation:rotatePlayer 3s linear infinite;
}

@keyframes rotatePlayer
{
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}



/* progress style */

.progressbar_container
{
   width:100%;
   height:auto;
   padding:10px 0;
   margin-top:10px;
}

.progress_div
{
    width:100%;
    height:0.5rem;
    border-radius: 40px;
    box-shadow:0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07) ,0 8px 16px rgba(0,0,0,0.07) , 0 16px 32px rgba(0,0,0,0.07) , 0 32px 64px rgba(0,0,0,0.07);
    position:relative;
    margin-top:5px;
    /* transition: width 1s linear;
    -moz-transition:width 1s linear;
    -o-transition: width 1s linear;
    -webkit-transition: width 1s linear; */
    cursor:pointer;
    -webkit-appearance:none ;
    appearance: none;

}

.progress
{
    position: absolute;
    top:0;
    left:0;
    width:0%;
    height:100%;
    background-color:rgb(0, 0, 255);
    border-radius: 40px;
    transition: all 1s linear;
    -moz-transition:all 1s linear;
    -o-transition: all 1s linear;
    -webkit-transition: all 1s linear;
    cursor:pointer;
    -webkit-appearance:none ;
    appearance: none;

}

.progress_duration_meter
{
    display:flex;
    justify-content: space-between;
    font-size:12px;

}